
body {
    
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
     font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}




.navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(44, 7, 44);
    padding: 10px;
    border-radius: 7px;
    color: white;
}

.navbar a {
    float: left;
    display: block;
  
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: auto%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: 2px solid #3498db;
    color: #fff;
    background-color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button:hover {
    background-color: #2980b9;
    border-color: #2980b9;
    color: #fff;
}



    #intro{
    text-align: justify;
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 400;
}

.text1{
    max-width: 45%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
}
#header12 {
    color: white;

}

.text2{
    max-width: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
}


.image1 {
    max-width: 55%;
    max-height:40%;
    margin: 0;
    padding: 0;
    float: left;
}
.image2 {
    max-width: 55%;
    max-height: 40%;
    margin: 0;
    padding: 0;
    float: right;
}



#h1 {
            color: #faf5f5;
            text-align: center;
            margin-bottom: 20px;
        }
#h11 {
color: #430d99;
text-align: left;

}
#h2 {
    color: #2b9676;
    margin-top: 30px;
}


#h3 {
    color: #2b9676;
    margin-top: 20px;
}

#ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

#li {
            margin-bottom: 10px;
        }



.home{
    background-color: rgb(228, 224, 233);
    margin: 0;
    padding: 0;
    
}

* {

    margin: 0;

    padding: 0;
}
 
.container1 {
    display: block;
    
    position: sticky;
    padding-top: 0%;
     margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container11 {
    display: flex;
    width: 100%;
    position: sticky;
    margin: 0;
    padding-top: 0%;
    min-height: 50%;
    color: #0f0e0e;
}

.container221 {
    display: block;
    width: 100%;
    height: 600px;
    position: sticky;
    margin: 0;
    padding-top: 0%;
    min-height: 50%;
    color: #0f0e0e;
}


.container112 {
    display: block;
    width: 100%;
    position: sticky;
    margin: 0;
    
    padding-top: 0%;
    min-height: 50%;
    color: #0f0e0e;
}

.container111 {
    display: block;
    width: 100%;
    position: sticky;
    margin: 0;
    
    padding-top: 0%;
    min-height: 50%;
    color: #0f0e0e;
}




.text-container1 {
    flex: 1;
    padding-top: 10px;
    width: 45%;
    margin: 0px;
    padding-left: 5%;

    
}
#li {
list-style: disc;

}

.image-container1 {
    flex: 1;
    padding-top: 10px;
    width: 67%;
    padding-left: 5%;
    margin-top: 2%;
    padding-right: 10px;
    position: sticky;
   
    
}
.image-cont {
    flex: 1;
    padding-top: 0px;
    width: 100%;
    padding-right: 0px;
    border-style: hidden;
    
    border-radius: 5px;
    border-color: #082138;
    

    
 
}

img {
    max-width: 100%;
    height: auto;
}      

.container2 {
    display: flex; 
}

.column1 {
    flex: 1; 
    padding: 20px;
    box-sizing: border-box; 
    border: 1px solid #0f0e0e; 
}

#column11 {
    background-color: #141313; 
}


#t33 {

    padding-left: 10px;
    text-align: center;
   margin-left: 25%;
    background-color:rgb(53, 7, 53);
color: yellow;
    color: white;
    width: 50%;
    
}


#wh {

    text-align: center;
}
 
#t2 {
    width: 100%;
    background-color:purple;
    text-decoration: #185226;
    color: white;
    padding-left: 30px;
    margin-left: 0px;
}
#tt {
    width: 70%;
    text-decoration: #0fe440;
    padding-left: 30px;
    padding-right: 20px;
    text-align: justify;
    margin-left: 30%;
    border-style: hidden;
    border-radius: 2%;
}

#ttt {
    width: 80%;
    text-decoration: #0fe440;
    padding: 30px;
    text-align: justify;
    border-style: hidden;
    margin-left: 10%;
    
}

#t3 {
    padding-left: 30px;
    background-color: purple;
    text-decoration: #0fe440;
    border-radius: 3px
    width: auto;
    color: white;
    margin-left: 10px;
   

}

#t13 {
    padding-left: 30px;
    background-color:purple;
    text-decoration: #0fe440;
    width: 50%;
    color: white;
    margin-left: 25%;
    text-align: center;
   

}

.text-container12 {
text-align: justify;
margin-left: 15px;
padding: 20px;

}



.about_txt {
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    text-align: justify;
    margin-bottom: 20px;
    


}
.don_txt {
    width: 50%;
    
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 25%;
    margin-right: 30%;
    margin-top: 5px;
    padding-top: 10px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image123 {

    width: 30%;
    margin-left: 35%;
  
   

}

.image-cont123 {

    width: 100%;
   
    border-radius: 10px;
    border-style: hidden;
}

#don_button11 {
    width: 40%;
    font-size: large;
    height: 30px;
    background-color: rgb(243, 73, 101);
    font-size: x-large;
    color: white;
    margin-left: 30%;
    margin-top: 2%;
    border-radius: 5px;
    padding-left: 10px;
 }   
.donbutton {

width: 100%;
display: flex;
justify-content: space-between;

}

#don_button1 {
    width: 25%;
    flex: 1;
    height: 40px;
    background-color: purple;
    font-size: larger;
    margin-right: 7.5%;
    margin-left: 7.5%;
    margin-top: 2%;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: white;
 }   


 #don_butto{
    width: 25%;
    flex: 1;
    height: 40px;
    background-color: purple;
     color: white;
    font-size: larger;
    margin-right: 7.5%;
    margin-left: 7.5%;
    margin-top: 2%;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
 }   

 

 .donparagragh  {

text-align: justify;
margin-left: 25%;
width: 50%;



 }

 #donh3 {


color: rgb(243, 73, 101);

 }

#donno {
   
background-color: rgb(243, 73, 101);
width: 10px;
}

.h3don {

margin-left: 5%;
margin-top: 2%;

}

.donintro {

    width: 70%;
    text-align: justify;
    margin-left: 15%;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.text1 {
    padding-top: 5px;
    padding-left: 15px;
    width: 100%;
    margin: 10px;
}

 #don_butt {
    width: 30%;
    background-color: purple;
    font-size: x-large;
    margin-left: 25%;
    margin-bottom: 5%;
    border-radius: 5px;
    border-style: double;
    margin-top: 5%;
    padding: 0%;
 }   




#faq-section {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
            overflow: hidden;
            bottom: 0;
            width: 100%;
            z-index: 2;
}



*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto,' sans-serif;
  }



p {
    line-height: 1.5;
}








.question:hover {
    background-color: #2a57a4;
}

.answer {
    display: none;
    margin: 0;
    padding: 15px;
    border-top: 1px solid #ddd;
}

img:hover {
    transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    } 
    body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f7f7f7;
}
.about-image:hover img{
    transform: scale(1.2);
  }

  #dd{

    color: #0056b3;
  }

  #ds {

color: purple;
  }
#hw {
    
    background-color: rgb(53, 7, 53);
    width: auto;
    border-radius: 10px;
    color: white;
}




#hi {

    color: yellow;
}

h1, h2, h3 {
    color: blue;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: 2px solid #3498db;
    
    background-color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #2980b9;
    border-color: #2980b9;
    color: #fff;
}
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }
}
a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #2980b9;
}
.highlight {
    background-color: #ffeeba;
    padding: 5px;
    border-radius: 3px;
}
blockquote {
    border-left: 4px solid #007bff;
    padding-left: 15px;
    color: #555;
}

p strong {
    font-weight: bold;
    color: #4285f4;
}

p em {
    font-style: italic;
    color: #3a100c;
}


#intro-text {
    font-size: 18px;
    color: #555;
    margin-left: 7%;
}

#ulli {

margin-left: 10%;
list-style: square;


}


.donation-container {
    text-align: center;
    
    padding: 30px;
    background-color: rgba(245, 245, 7, 0.384);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .donate-button, .fund-button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(85, 8, 85);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
      width: auto;
  }

  .donate-button:hover, .fund-button:hover {
    background-color: #45a049;
  }

  #donation-message {
    color: #4CAF50;
    font-weight: bold;
    margin-top: 20px;
  }

  .imgg {

      width: 30%;
      text-align: center;
      margin-left: 35%;

  }

  .home_intro {

    text-align: center;
    
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }



  .step-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.step {
  width: 100%;
  padding: 10px;
  margin: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.step:nth-child(odd) {
  align-self: flex-start;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 65%;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#stepsnumber {


background-color: rgb(63, 63, 150);
color: whitesmoke;
border-radius: 5px;
}
#steps  {

color: rgb(6, 6, 110);


}



.step:nth-child(even) {
  align-self: flex-end; 
  margin-right: 5%;
  margin-bottom: 5%;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 65%;
  color: black;
}




       

        .projects-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 20px;
        }

        .project-card {
            max-width: auto;
            background-color: #fff;
            border: 1px solid #dee2e6;
            border-radius: 8px;
            overflow: hidden;
            transition: transform 0.3s;
            display: block;
            
            margin-right: 25%;
            margin-left: 25%;
            margin-bottom: 5%;
        }

        .project-card:hover {
            transform: scale(1.05);
        }

        .project-image {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 8px 8px 0 0;
        }

        .project-details {
            padding: 20px;
        }


        .goal {
            margin-bottom: 10px;
        }

        .goal strong {
            color: #007BFF;
        }

        .donatee1-button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #007BFF;
            color: #fff;
            text-align: center;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .donatee1-button:hover {
            background-color: #0056b3;
        }

        .introduction1w {
            max-width: 80%;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: justify;
        }

        
        .thank-you-message {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

.footer {
    background-color: purple;
    max-width: 100%;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
position: relative;
}

#fh {
    color: white;
}

#ftt {
    background-color: #6c7571;
}

.footer1-details {
    display: flex;
    width: 100%;
    margin-left: 0;
}

.footer1-column {
    flex: 1; /* Equal width for all columns */
    margin: 0 10px; /* Add some margin between columns */
}

.contact-info,
.newsletter-form,
.footer-links {
    margin-top: 20px;
    text-align: center;
}

#btt {
    margin-bottom: 5%;
}

.newsletter-form input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    width: 100%; /* Make the input field take up the full width of its container */
}

.newsletter-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer-links a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #007BFF;
}


 .faq21-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-right: 10px;
        }

       
        .faq21-dropdown {
            display: none;
            position: relative;
            background-color: #f1f1f1;
            border-radius: 5px;
            padding: 10px;
            margin-top: 10px;
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
            z-index: 1;
        }






     .fqclass {

             background-color: #8ac1ee; 
             width: 100%;
             border-radius: 5px;
             height: auto;
             text-align: center;
         position: relative;
         


            }


     .faq-button {
            background-color: #83ad84;
            color: black;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-right: 10px;
            width: 40%;
            margin-top: 5%;
        }

       
        .faq-section {
            display: none;
            padding: 20px;
            background-color: #f1f1f1;
            border-radius: 5px;
            margin-top: 10px;
            position: absolute;
            overflow: hidden;
            bottom: 0;
            width: 100%;
            z-index: 2;
        }

        
      .faq-question {
        font-weight: bold;
        margin: 0;
        padding: 15px;
        background-color: #637291;
        color: #fff;
        cursor: pointer;
        border-radius: 8px;
        margin-bottom: 10px;
        transition: background-color 0.3s;
        text-align: left;
    }

    

      .column1 {
          background-color: #8ac1ee;
          padding: 20px;
          border-radius: 8px;
          margin-top: 30px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      

      .faq-answer {
          display: none;
          margin: 0;
          padding: 15px;
          border-top: 1px solid #ddd;
          border-radius: 0 0 8px 8px;
      }

      

      

      @keyframes fadeIn {
          from {
              opacity: 0;
          }
          to {
              opacity: 1;
          }
      }

      @keyframes slideDown {
          from {
              opacity: 0;
              transform: translateY(-20px);
          }
          to {
              opacity: 1;
              transform: translateY(0);
          }
      }

      .faq-answer.show {
          display: block;
          animation: slideDown 0.5s ease-in-out;
      }
      
  

        
        
